<header class="site-header">
  <nav class="paradeiser">
    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/images/little-tree.png" style="dispaly:inline;" />
      <span>{{ site.title }}</span>
    </a>
    <a href="{{ site.baseurl }}/about">
        <icon class="paradeiser_icon_canvas">
            <i class="zmdi zmdi-coffee"></i>
        </icon>
        <span>About</span>
    </a>
    <a href="{{ site.baseurl }}/creations">
        <icon class="paradeiser_icon_canvas">
            <i class="zmdi zmdi-code-setting"></i>
        </icon>
        <span>Creations</span>
    </a>
    <a href="https://github.com/zdivozzo">
        <icon class="paradeiser_icon_canvas">
          <i class="zmdi zmdi-github"></i>
        </icon>
        <span>Github</span>
    </a>
  </nav>
  <div class="box-shadow"></div>
</header>
