<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="wrapper">
      <div class="page-content">

        {{content}}

        <hr />

        <h2>Featured Projects</h2>

        <div class="featured-image">
          <a href="/portfolio/portfolio/2018/07/02/oao.html"><img src="{{ site.baseurl }}/images/bam-thumb.jpg" /></a>
          <br /><a href="/portfolio/portfolio/2018/07/02/oao.html"><h3>Lake Trust Online Account Opening</h3></a>
        </div>

        <div class="featured-image">
          <a href="/portfolio/portfolio/2015/08/25/delete-site-js.html"><img src="{{ site.baseurl }}/images/ds-thumb.jpg" /></a>
          <br /><a href="/portfolio/portfolio/2015/08/25/delete-site-js.html"><h3>DeleteSite.js</h3></a>
        </div>

        <div class="featured-image">
          <a href="/portfolio/portfolio/2015/09/07/increment-me.html"><img src="{{ site.baseurl }}/images/increment-me-thumb.jpg" /></a>
          <br /><a href="/portfolio/portfolio/2015/09/07/increment-me.html"><h3>Increment Me (Atom Package)</h3></a>
        </div>
      </div>
    </div>
    {% include footer.html %}

  </body>

</html>
