<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}
    <div class="wrapper">
      <div class="page-content">

        {{content}}

        <hr />

        <h2>Featured Projects</h2>

        <div class="featured-image">
          <a href="http://zdivozzo.github.io/portfolio-site/portfolio/2015/11/09/rapid-roofing.html"><img src="{{ site.baseurl }}/images/rr-thumb.jpg" /></a>
          <br /><a href="http://zdivozzo.github.io/portfolio-site/portfolio/2015/11/09/rapid-roofing.html"><h3>Rapid Roofing</h3></a>
        </div>

        <div class="featured-image">
          <a href="http://zdivozzo.github.io/portfolio-site/portfolio/2015/09/07/comic-vine-quiz.html"><img src="{{ site.baseurl }}/images/comic-vine-thumb.jpg" /></a>
          <br /><a href="http://zdivozzo.github.io/portfolio-site/portfolio/2015/09/07/comic-vine-quiz.html"><h3>Comic Vine Quiz</h3></a>
        </div>

        <div class="featured-image">
          <a href="http://zdivozzo.github.io/portfolio-site/portfolio/2015/11/12/Mars.html"><img src="{{ site.baseurl }}/images/mars-thumb.jpg" /></a>
          <br /><a href="http://zdivozzo.github.io/portfolio-site/portfolio/2015/11/12/Mars.html"><h3>Curiosity Rover Explorer</h3></a>
        </div>
      </div>
    </div>
    {% include footer.html %}

  </body>

</html>
